@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #eb5757; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 100%;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  max-width: 400px;
  margin-bottom: 40px;
  padding: 20px 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #fff;
}

.header {
  margin: 0;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
